.create-modal {
    form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    button {
        max-width: 100px;
    }

    .modal-title {
        font-size: 1.3em;
        font-weight: bold;
    }

    .input-group {
        margin: 10px;

        label {
            margin-right: 8%;
            margin-bottom: 10px;
            width: 16%;
            text-align: right;
            float: left;
        }
    }

    .button-group {
        margin-top: 1em;

        .task-modal-close {
            border: none;
            color: rgb(51, 51, 250);
        }

        .task-modal-close:hover {
            text-decoration: underline;
        }
    }

    .validation-message {
        display: inline;
        color: red;
        margin-left: 1em;
    }
}
