.board-list {
    display: flex;
    flex-wrap: wrap;

    .board-card {
        width: 25%;
        max-width: 260px;
        min-width: 230px;
        margin-right: 10px;
        border: 1px solid lightgrey;
        border-radius: 2px;
        color: black;

        .upper-card {
            background-color: rgb(235, 236, 240);
            text-align: center;
            padding: 1.5em;
            display: flex;

            .card-image {
                width: 2em;
                height: 28px;
                margin-right: 8px;
                background-color: blue;
                border-radius: 3px;
            }

            .board-name {
                line-height: 1.7em;
            }
        }

        .issue-count {
            padding: 0.5em;
        }
    }
}
